body {
    background-color: #ffcf70;
    margin: 0;
}
header {
    font-size: 3rem;
    background-color: #0d47a1;
}

.index {
    background-color: #89cff0;
}

img {
    float: left;
}

.main {
    display: flex;
    gap: 10px;
}

.front-end {
    margin: 10px;
}

.back-end {
    margin: 10px;
}

span {
    font-size: 2rem
}


@media (max-width: 650px) {
    .main {
        display: inline;
    }
}
